
@import url('https://fonts.googleapis.com/css2family=Overpass:wght@400;700&display=swap');

:root{
/* ##Colors */

/* ### Primary */
--Orange: hsl(25, 97%, 53%);

/* ### Neutral */
--White: hsl(0, 0%, 100%);
--Light-Grey: hsl(217, 12%, 63%);
--Medium-Grey: #7c8798;
--Dark-Blue: #252d37;
--Very-Dark-Blue: #121417;

}
*, ::before, ::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Overpass', sans-serif;
    background-color: var(--Very-Dark-Blue);
    color: var(--White);
}
h1{
    font-size: 1.6rem;
}
button{
    outline: 0;
    border: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
.container{
   height: 100vh;
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex{

}
#card-el{
    padding: 1.3rem;
    height: 325px;
    width: 320px;
    background: rgb(37,45,55);
    background: radial-gradient(circle at top, rgba(37,45,55,1) 15%, rgba(18,20,23,1) 100%); 
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    display: flex;
    flex-flow: wrap column;
    justify-content: space-around;
    align-items: center;
}

#card-el img.star{
    height: auto;
    width: auto;
    color: inherit;
    margin: 0;
    padding: .8rem;
  
}
.max-width{
   
    width: 100%;
}
.illus-thankyou{
    height: auto;
    width: 8rem;
    align-self: center;
}
.msg{
    color:var(--Light-Grey);
}
.circle{
    background-color: var(--Dark-Blue);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}
.ratings{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    width: 100%;
}
.ratings button{
    color: inherit;
    width: 2.5rem;
    height: 2.5rem;

}
.ratings button:hover{
    color: var(--White);
    background-color: var(--Orange);
}
#submit-el{
    
    text-transform:uppercase;
    font-weight: 700;
    width: 100%;
    align-self: center;
    padding: .8rem;
    color: inherit;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    background-color: var(--Orange)
}
#submit-el:hover{
    color: var(--Orange);
    background-color: var(--White);
}